<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="assets/img/ULogo.png">
  <h2>
    {{title}}
  </h2>
  <hr>
  <button (click)="suma()">Suma</button>
  <button (click)="resta()">Resta</button>
  <button (click)="multiplicacion()">Multiplicación</button>
  <button (click)="division()">División</button>
  <button (click)="modulo()">Modulo</button>
  <button (click)="reset()">Reset</button>
  <hr/>
  <input [(ngModel)]="var1" placeholder="numero 1" type="number" step="any"/>
  
  <input [(ngModel)]="var2" placeholder="numero 2" type="number" step="any"/>
  <hr/>
  <h2>
    {{result}}
  </h2>
</div>
<footer>davidsotelo1506@gmail.com</footer>
<footer>código: 616161040</footer>
<router-outlet></router-outlet>

